.title {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  @apply mb-8 text-7xl font-black;
}

.description {
  @apply mb-13 text-3xl;
}

.contactBtn {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);

  @apply bg-primary rounded-[100px] px-7 py-4 text-3xl font-semibold no-underline;
}

.heroImg {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  @apply z-[1] max-h-[600px] w-1/2 rounded-[50%];
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.topBlur {
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);

  @apply absolute left-[-10vw] top-[-128px] z-0 h-[50vw] w-[50vw] min-w-[350px] max-w-[350px] rounded-[764px];
}

.bottomBlur {
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);

  @apply absolute right-[-25vw] top-[246px] z-0 h-[50vw] w-[70vw] min-w-[250px] max-w-[350px] rounded-[764px];
}
